.homepage-image {
    width: 100%;
    height: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 100px 50px;
}

#product-card {
    /*border: 1px solid red;*/
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 370px;
    height: 156px;
}

#product-card img {
    /*border: 1px solid red;*/
    padding: 25px 0;
}

.product-card-info {
    width: 100%;
    text-align: center;
}